:root {
  --color-0: #ffffff;
  --color-1: #1c1c1e;
  --color-2: #b9b8b8;
  --color-3: #d0d0d3;
  --color-link:#7B90D2;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-0: #232121;
    --color-1: #e5e5ea;
    --color-2: #93939e;
    --color-3: #223f5d;
    --color-link:#7B90D2;
  }
  img {
    opacity: 0.8;
  }
}
body {
  background: var(--color-0);
  font-family: sans-serif;
  font: 16px sans-serif;
  color: var(--color-1);
}
main {
  padding: 0 5px;
  margin: 5rem auto;
  max-width: 800px;
}
@media screen and (max-width: 800px) {
  main {
    margin: 3rem auto;
  }
}
article {
  margin: 5em 0;
}
p {
  margin: 1.3em 0;
  line-height: 1.6em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  font-weight: 500;
  color: var(--color-1);
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  color: inherit;
}
h1 {
  margin: 50px 0 10px 0;
  font-size: 40px;
}
h2 {
  margin: 40px 0 5px 0;
  font-size: 30px;
}
h3 {
  margin: 30px 0 5px 0;
  font-size: 20px;
}
a {
  color: var(--color-link);
  text-decoration: none;
  cursor: pointer;
}
a :hover,
a :active {
  color: var(--color-link);
}
ul,
ol {
  padding: 0 0 0 30px;
  margin: 0.5rem 0;
}
ul .task-list-item,
ol .task-list-item {
  list-style-type: none;
}
.task-list-item .task-list-item-checkbox {
  margin: 0em 0.2em 0.25em -1.6em;
  vertical-align: middle;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}
ul ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
ol ul {
  list-style-type: disc;
}
li {
  margin: 0.5rem 0;
}
em,
i {
  font-style: italic;
}
strong,
b {
  font-weight: bold;
}
hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-color: var(--color-1);
  opacity: 0.2;
}
img {
  display: block;
  max-width: 100%;
  max-height: 25rem;
  margin: 1em auto;
  border-radius: 5px;
}
dt {
  float: left;
  width: 180px;
  overflow: auto;
  clear: left;
  text-align: right;
  white-space: nowrap;
  font-weight: bold;
  margin-bottom: 0.4em;
}
@media screen and (max-width: 800px) {
  dt {
    width: 120px;
  }
}
dd {
  margin-left: 200px;
  margin-bottom: 0.4em;
}
@media screen and (max-width: 800px) {
  dd {
    width: 120px;
  }
}
code {
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 1px, blod;
  font-family: monospace;
  font-size: 80%;
  background-color: rgba(27,31,35,0.05);
}
pre > code {
  display: block;
  overflow: auto;
  padding: 2em 2em;
}
blockquote {
  font-weight: 300;
  padding: 0 0 0 1.4rem;
  margin: 0 2rem 1rem 0;
  border-left: 0.2em solid var(--color-1);
}
blockquote > p {
  color: var(--color-2);
}
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid var(--color-3);
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid var(--color-3);
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: var(--color-3);
}
.footnote {
  margin: 0 0.25em;
  font-size: 12px;
}
.footnotes {
  margin: 4em 0;
  color: var(--color-2);
}
header {
  margin: 0 auto;
  max-width: 850px;
  padding: 2rem 0;
}
@media screen and (max-width: 800px) {
  header {
    padding: 40px 0 0 0;
    text-align: center;
  }
}
nav {
  float: right;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
@media screen and (max-width: 800px) {
  nav {
    float: none;
    margin: 1rem 0 0 0;
    display: block;
    font-size: 1rem;
  }
}
nav > a {
  margin-left: 1.5rem;
  color: var(--color-2);
  text-align: right;
  font-weight: 300;
  letter-spacing: 1px;
}
@media screen and (max-width: 800px) {
  nav > a {
    margin: 0 0.5rem;
    font-weight: 400;
  }
}
time {
  display: inline-block;
  margin: 5px 0;
  padding: 2px 0;
  font-weight: 300;
  font-size: 90%;
  color: var(--color-2);
}
.site-logo {
  float: left;
  width: 70px;
  height: 70px;
  margin: 0 20px 0 0;
}
@media screen and (max-width: 800px) {
  .site-logo {
    margin: 0 10px 0 10px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-logo > img {
  margin: 0;
  border-radius: 40px;
}
.site-info {
  float: left;
  margin: 0;
}
@media screen and (max-width: 800px) {
  .site-info {
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.site-name {
  margin: 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 1.5em;
}
.site-description {
  margin: 0;
  color: var(--color-2);
  font-size: 16px;
  font-weight: 300;
}
@media screen and (max-width: 800px) {
  .site-description {
    margin: 5px 0;
  }
}
.post-list {
  margin: 0 0 em 0;
}
.post-list > p {
  color: var(--color-2);
}
.comments {
  margin: 3rem 0 0 0;
}
.tag {
  display: inline;
  font-size: 80%;
  font-weight: 400;
}
.tag > span,
.tag a {
  display: inline-block;
  margin: 3px;
  padding: 2px 7px;
  color: var(--color-1);
  background-color: var(--color-3);
  border-radius: 5px;
}
.tag > a .count {
  border-radius: 5px;
}
